.inputContainer{
    display: flex;
    justify-content: center;
    margin:10vh 0 2vh;
    align-items: center;
}
.input input{
    margin-right: 2vh;
    padding: 10px;
    border-radius: 5px;
    color:#5a5a5a;
    border: 1px solid #b3b1b1;
    height: 22px;
    width: 25vw;
    font-size: 16px;
    outline:none;
}

.inputButton button{
    background-color: #459de9;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline:none;
}

@media screen and (max-width: 1200px) {
    .input input{
        width: 50vw;
    }
}