.container{
    display:flex;
    flex-Direction:column;
    align-Items:flex-start;
}

.cityName{
    margin-bottom: 4%;
    font-size: 20px;
}

.date{
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .cityName{
        font-size: 16px;
    }
    
    .date{
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .cityName{
        font-size: 14px;
    }
    
    .date{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .cityName{
        font-size: 10px;
    }
    
    .date{
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .cityName{
        font-size: 8px;
    }
    
    .date{
        font-size: 8px;
    }
}