.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
}

.containerMainTemp{
    background-color: #fffaf1;
    width: 80vw;
    padding: 0 5% 1%;
    border-radius: 20px;
}

.containerMainTemp1{
    background-color: #f1f2ff;
    width: 50vw;
    padding: 0 5% 1%;
    border-radius: 20px;
}

.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.header h3{
    margin:5%  auto
}

.currentWeather{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.chart{
    width: 40vw;
    margin: 2% auto 0;
}


.containerTemp{
    display: flex;
}

.temp{
    color: #c5c5c5;
}

.feelsLike{
    color: #c5c5c5;
}

.containerFooter span{
    color:#4da0ea;
}

