.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% 0;
}

.containerMainTemp{
    background-color: #fffaf1;
    width: 80vw;
    padding: 0 5% 1%;
    border-radius: 20px;
}

.containerMainTemp1{
    background-color: #f1f2ff;
    width: 80vw;
    padding: 0 5% 1%;
    border-radius: 20px;
}

.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.container h3{
    margin:5%  auto;
}

.currentWeather{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.chart{
    width: 50vw;
    margin: 2% auto 0;
}


.containerTemp{
    display: flex;
}

.temp{
    color: #c5c5c5;
}

.feelsLike{
    color: #c5c5c5;
}

.containerFooter span{
    color:#4da0ea;
}


@media screen and (max-width: 1200px) {
    .container h3{
        font-size: 16px;
    }
    .chart{
        width: 70vw;
        margin-left: 3%;
    }
}

@media screen and (max-width: 800px) { 
    .container h3{
        font-size: 12px;
    }
    .chart{
        width: 70vw;
        margin-left: 3%;
    }
}

@media screen and (max-width: 600px) { 
    .chart{
        width: 90vw;
        margin-left: -11%;
    }
}

@media screen and (max-width: 400px) {
    .container h3{
        font-size: 11px;
    }

    .chart{
        width: 90vw;
        margin-left: -13%;
    }
}