.container{
    display:flex;
    width:22%;
    justify-Content:space-between;
    color:#c5c5c5;
}

.containerDatailPage{
    display:flex;
    width:10%;
    justify-Content:space-between;
    color:#c5c5c5;
}