.container{
    display:flex;
    justify-Content:space-between;
    color:#c5c5c5;
}

.containerDatailPage{
    display:flex;
    justify-Content:space-between;
    color:#c5c5c5;
}

@media screen and (max-width: 1200px) {
    .container{
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {  
    .container{
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .container{
        font-size: 12px;
    }
}